/* This file contains all the CSS for the page except the table. */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: Tahoma, sans-serif;
	font-size: 11pt;
	background: #ffffff;
	color: #333;
}

nav,
footer {
	background-color: #343434;
	color: #eee;
}

header {
	background-color: #00adb5;
	color: #eeeeee;
	padding: 1px 20%;
	margin: 0 0;
}

h1.app-title {
	font-size: 4em;
	font-family: "Roboto", sans-serif;
	margin-bottom: 0;
}

footer {
	height: 30px;
	width: 100%;
	text-align: center;
	margin: 20px 0 0;
	padding: 12px;
	vertical-align: middle;
}

main {
	width: fit-content;
	margin: auto;
}

/*Navbar CSS*/
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 0 20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	padding: 10px 10px;
}

nav ul li:hover {
	background-color: #fff;
	color: #000;
	cursor: pointer;
}

nav ul li:active {
	background-color: #00adb5;
	color: #fff;
	cursor: pointer;
}