@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	background-color: #eeeeee;
	color: #222831;
}

nav,
footer {
	background-color: #393e46;
}

header {
	background-color: #00adb5;
	color: #eeeeee;
	padding: 1%;
}

h1.app-title {
	font-size: 4em;
	font-family: "Roboto", sans-serif;
	margin-bottom: 0;
}

div.main-table-container {
	max-height: 80vh;
	overflow: auto;
}

table.main-table-top th {
	background-color: #00adb5;
	color: #eeeeee;
	border: 2px solid #e7f6f2;
	padding: 8px;
	width: 85%;
	min-width: 120px;
}

table.main-table td {
	background-color: #eeeeee;
	color: #222831;
	border: 2px solid #393e46;
	text-align: center;
	width: 85%;
	min-width: 120px;
}

table.main-table td img {
	margin: auto;
	vertical-align: middle;
}

table.main-table p span {
	font-weight: bold;
	text-decoration: underline;
}